build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
compile_commands.json

*.pro.user
*.pro.user.*
*.qbs.user
*.user

.env
*.db
session.db

.vscode/
.idea/

daemon/cmd/cmd
daemon/khaapp-daemon
daemon/build/

.flatpak-builder/
flatpak-build/
repo/
